[ui]
[color]
	ui = auto
[alias]
	all = log --oneline --decorate --graph --all
	ll = log --oneline --decorate --graph
	b = branch
	o = checkout
	t = status
	d = diff
	i = commit
	a = add
	r = rebase
	l = log --decorate
	il = log --decorate
	g = grep
	cp = cherry-pick
	sr = svn rebase
	sd = svn dcommit
[user]
	name = Ramkumar Aiyengar
	mail = andyetitmoves@gmail.com
[branch]
	autosetuprebase = always
[push]
	default = simple
[merge]
	conflictstyle = diff3
[hub]
	protocol = https
[credential]
	helper = cache --timeout=3600
